@inherits LayoutComponentBase
@inject NavigationManager Navigation

@Body
@if (Navigation.Uri != "https://0.0.0.0/")
{
	<div class="bot_nav_bar">
		<div class="btn_timetable" @onclick="OnButtonTimetable"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg></div>
	</div>
}

@code {
    private async Task OnButtonTimetable()
    {
        if (await App.Timetabling)
        {

            foreach (var day in App.Week)
            {
                switch (day.Date.DayOfWeek)
                {
                    case DayOfWeek.Monday:
                        App.Monday = day;
                        break;
                    case DayOfWeek.Tuesday:
                        App.Tuesday = day;
                        break;
                    case DayOfWeek.Wednesday:
                        App.Wednesday = day;
                        break;
                    case DayOfWeek.Thursday:
                        App.Thursday = day;
                        break;
                    case DayOfWeek.Friday:
                        App.Friday = day;
                        break;
                    case DayOfWeek.Saturday:
                        App.Saturday = day;
                        break;
                }
            }

            Navigation.NavigateTo("/timetable");
        }
	}
}