:root {
	--main-color: #f5841f;
	--main-bgcolor: #FAF0DE;
	--accent-bgcolor: #FAE6C3;
	--text-gray: #5C5C5C;
	--gradient-colors: var(--main-color) 40%, #f7911e;
}

@font-face {
	font-family: "Fira Sans Reg";
	src: url('FiraSans-Regular.ttf');
}
@font-face {
	font-family: "Fira Sans Bold";
	src: url('FiraSans-Bold.ttf');
}

* {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html, body {
	font-family: 'Fira Sans Reg';
	margin: 0;
	background-color: var(--main-bgcolor);
	height: 100%;
}

h1 {
	font-family: 'Fira Sans Bold';
}

.mainpg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.status_message {
	display: none;
	margin: 0 1rem;
	margin-bottom: 4rem;
	width: fit-content;
	background-color: var(--accent-bgcolor);
	border-radius: 1rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem 1rem;
	color: var(--text-gray);
	box-shadow: 0 4px 0.7rem 0 #bebebe;
	font-size: 1.3rem;
	transition: .2s;
}

button {
	background: linear-gradient(var(--gradient-colors));
	border: none;
	padding: 1rem 1rem;
	color: white;
	font-family: 'Fira Sans Bold';
	font-size: 1.5rem;
	border-radius: 1rem;
	transition: .15s;
}

	button:active {
		filter: brightness(.9);
		transform: scale(.92);
	}

#app {
	height: 100%;
}