
<body>

    <main class="mainlg">
        <div class="login_block">
            <div class="login_header">
                <h2>Вход</h2>
            </div>
            <div class="login_forms">
                <input placeholder="E-mail" type="email" />
                <input placeholder="Пароль" type="password"/>
            </div>
        </div>
        <button class="btn_login">Войти</button>
    </main>
    <footer>
        <div class="footer_block"></div>
    </footer>
</body>
