h2 {
    margin: 0;
    color: white;
    font-weight: bold;
}

.login_block {
    border-radius: 1rem;
    background: var(--accent-bgcolor);
    margin: 0 4rem 4rem 4rem;
    box-shadow: 0 4px 1rem 0.05rem #bebebe;
}

.login_header {
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0 1rem 0;
    background: linear-gradient(var(--gradient-colors));
    text-align: center;
}

.login_forms {
    padding: 2.8rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.login_forms input {
    border: 0;
    border-radius: 1rem;
    background-color: #EFD0A8;
    color: var(--text-gray);
    font-family: 'Fira Sans Reg';
    font-size: 1rem;
    text-indent: 1rem;
    height: 3rem;
    transition: .3s;
}
    .login_forms input::placeholder {
        color: var(--text-gray);
    }
    .login_forms input:focus {
        outline: none;
        box-shadow: 0 0 0 0.08rem var(--main-color);
        background-color: #f2c696;
        transform: scale(1.05);
    }

.mainlg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.btn_login {
    width: 10rem;
    margin: 0 auto;
}