@page "/"

<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <div class="login_block">
            <div class="login_header">
                <h1>Вход</h1>
            </div>
            <div class="login_forms">
                <input placeholder="E-mail" type="email" />
                <input placeholder="Пароль" type="password"/>
            </div>
        </div>
        <button>Feed Benro</button>
    </main>
    <footer>
        <div class="footer_block"></div>
    </footer>
</body>
