@page "/mark"
<body>
    <header>
        <h1>BonchMark</h1>
    </header>
    <main>
        <button>Benro</button>
    </main>
    <footer>
        <div class="footer_block"></div>
    </footer>
</body>

@code {

}
