@page "/"

@if(true)
{
    <body>
        <header>
            <h1>BonchMark</h1>
        </header>
        <main>
            <button>Benro</button>
        </main>
        <footer>
            <div class="nav_footer"></div>
        </footer>
    </body>
}
else
{
    <LoginPage />
}

@code {

}
