@page "/mark"
@inject NavigationManager Navigation

@using BonchMark;

    <body>
        <header><h1>BenroBonch</h1></header>
        <main class="mainpg">
            <div class="status_message" style="@status_msg_style">@status_msg</div>
            <button style="@mark_btn_style" disabled="@btn_disable" @onclick="OnButtonMark">Начать занятие</button>
        </main>
    </body>

@code {
    private bool btn_disable = false;
    private string mark_btn_style;
    private string status_msg_style;
    private string status_msg;

    private async Task OnButtonMark()
    {
        string[] userData = File.ReadAllText(Path.Combine(App.folderPath, "UserData.txt")).Split(":");
        mark_btn_style = "opacity: .5;";
        btn_disable = true;
        if (!await App.api.InitAsync())
        {
            status_msg = "😼: \"Личный кабинет не отвечает\"";
            status_msg_style = "background-color: #FFC5C5; display: block";
        }
        if (!await App.api.LoginAsync(userData[0], userData[1]))
        {
            status_msg = "Что-то пошло не так ❓";
            status_msg_style = "background-color: #FFC5C5; display: block";
        }
        else
        {
            switch (await App.api.MarkSequenceAsync())
            {
                case BonchAPI.MarkStatus.OK:
                    status_msg = "Успешно ✔️";
                    status_msg_style = "background-color: #BAF68C; display: block";
                    break;
                case BonchAPI.MarkStatus.UpdateOnly:
                    status_msg = "Преподаватель ещё не начал занятие 🕰️";
                    status_msg_style = "background-color: #FFDA96; display: block";
                    break;
                case BonchAPI.MarkStatus.NoButton:
                    status_msg = "Занятия ещё не начались 💤";
                    status_msg_style = "background-color: #FFDA96; display: block";
                    break;
                case BonchAPI.MarkStatus.RequestFailed:
                    status_msg = "Ошибка! ❌";
                    status_msg_style = "background-color: #FFC5C5; display: block";
                    break;
            }            
        }

        mark_btn_style = "opacity: 1;";
        btn_disable = false;
    }

}