@page "/"

<body>
    <div class="timetable_day">
        @foreach (var item in classes)
        {
            <div class="class_item">
                <div class="class_time"></div>
                <div class="class_inf">
                    <div class="typebar"></div>
                    <div class="class_card">
                        <div class="class_name"></div>
                        <div class="class_place_teacher"></div>
                    </div>
                </div>
            </div>
        }

    </div>
</body>

@code {
    List<BonchMark.ClassInfo> classes = App.timetable.GetClasses(); 
}
