@page "/"

<body>
    <div class="timetable_day">
        @foreach (var item in classes)
        {
            <div class=""></div>
            <div class="class_name"></div>
            <div class="class_info">
                <div class=""></div>
                <div></div>
            </div>
        }

    </div>
</body>

@code {
    List<BonchMark.ClassInfo> classes = App.timetable.GetClasses(); 
}
